.container {
  max-width: 960px;
}

/* code from internet to change font size of placeholder and input (referenced in readme */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-size: 15px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 15px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 15px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 15px;
}

/* container for about section */
.container-abt {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #f0e68c;
  border-radius: 10px;
  padding-top: 30px;
  position: relative;
  top: 20px;
}

/* container for books section */
.container-books {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #f0e68c;
  border-radius: 10px;
  padding-left: 32px;
  position: relative;
  bottom: 25px;
}

/* container for movie section */
.container-movie {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 30px;
  background: #f0e68c;
  border-radius: 10px;
  position: relative;
  bottom: 10px;
}

/* container for characters section */
.container-char {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #f0e68c;
  border-radius: 10px;
}

/* container for quotes section */
.container-quotes {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #f0e68c;
  border-radius: 10px;
  position: relative;
  top: 1px;
}

/* css for body */
body {
  background-image: url('../Images/map.jpg');
  background-size: cover;               
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* css to center back to top button */
.topbutton {
  justify-content: center;
}

/* font for navbar */
.navbar-brand {
  font-family: 'Bitter', serif;
}

/* font for navbar */
.nav-link {
  font-family: 'Bitter', serif;
}

/* color of title "The Lord of the Rings" */
.title {
  color: goldenrod;
}

/* css for h1 tag */
h1 {
  font-family: 'Bitter', serif;
}

/* css for h2 tag */
h2 {
  font-family: 'Bitter', serif;
}

/* css for id p1 */
#p1 {
  font-size: 18px;
}

/* css for id p2 */
#p2 {
  font-size: 20px;
  font-family: 'Bitter', serif;
}

/* css for id p2 */
#p3 {
  font-size: 20px;
  font-family: 'Bitter', serif;
}

/* background image for about section */
#background-abt {
  background-image: url("../Images/abtbimg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* background image for books section */
#background-books {
  background-image: url("../Images/bookbimg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover 
}

/* background image for movie section */
#background-movie {
  background-image: url("../Images/moviebimg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover 
}

/* background image for characters section */
#background-char {
  background-image: url("../Images/charbimg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover 
}

#background-quotes {
  background-image: url("../Images/quotesbimg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover 
}

/* css for title of book 1 */
#book1 {
  font-size: 30px;
  font-family: 'Bitter', serif;
}

/* css for title of book 2 */
#book2 {
  font-size: 30px;
  font-family: 'Bitter', serif;
}

/* css for title of book 3 */
#book3 {
  font-size: 30px;
  font-family: 'Bitter', serif;
}

/* css for the description of each book */
.card-text {
  font-size: 15px;
}

/* css for list of movie details */
.movieDetails {
  text-align: left;
  font-size: 23px;
}

/* css for list of movies */
#movieList {
  text-align: left;
  font-family: 'Bitter', serif;
  font-size: 23px;
  position: relative;
  bottom: 15px;
}

/* css for list of character details */
.charDetails {
  text-align: left;
  font-family: 'Bitter', serif;
  font-size: 23px;
}

/* css for quote */
#quote {
  font-size: 40px;
  font-family: 'Bitter', serif;
}

#charOfQuote {
  font-size: 30px;
  font-family: 'Bitter', serif;
}

#movOfQuote {
  font-size: 25px;
  font-family: 'Bitter', serif;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
